<div class="alert alert-success" role="alert">
  In Turkey, healthcare for residents, including citizens and those with legal residency, is primarily delivered through a universal system (SGK) where most services are subsidized or fully covered, even for those without private insurance. Foreigners, however, may need to pay more for certain services and are generally required to have private insurance for their first year of residency
</div>
<div class="row">
<h4>Public Healthcare:</h4>
<p>
  Turkey has a universal healthcare system (SGK) that provides access to a wide range of medical services for residents.

</p>
<h4>Who Qualifies:</h4>
<p>
  In Turkey, SGK (Sosyal Güvenlik Kurumu), the public health insurance system, primarily covers Turkish citizens and foreign residents who have been legally residing in Turkey for at least one year. Foreigners who are employed with a work permit, students with proper documentation, and those under international protection may also qualify.
</p>
<h4>Non-Eligible Individuals:</h4>
<p>
  Foreigners are generally required to have private insurance for their first year of residency and may face higher costs for some services, especially in private hospitals.<br>
  Turkey's affordable healthcare attracts medical tourists for various procedures, including cosmetic surgery and other treatments.
</p>
</div>
<div class="row">
<h5>Emergency Care:</h5>
<p>
  Emergency care is available to everyone, including tourists, and is generally free in public hospitals, according to Doctorsa.
</p>
<h5>Private Healthcare:</h5>
<p>
  Public hospitals generally offer more affordable care, while private hospitals may charge more, but often have shorter wait times and may offer more specialized services.
</p>
<ul class="list-group">
  Cost of Services:
  <li class="list-group-item">Emergency Room: Free</li>
  <li class="list-group-item">Doctor's Visit: €30-€80</li>
  <li class="list-group-item">Basic X-ray: €80-€130</li>
  <li class="list-group-item">Blood Test: €18-€140</li>
  <li class="list-group-item">MRI (various areas): €100-€700</li>
</ul>
<br />
</div>
<div class="row">
<h5>Prescriptions:</h5>
<p>
  n Turkey, prescription medication costs can vary depending on whether you have insurance (SGK, or Social Security Institution) and whether the medication is originator or generic. Without insurance, costs can be higher, but medical tourism is booming due to relatively affordable healthcare. Even without insurance, you can still purchase prescription medications, but you'll likely pay the full cost out-of-pocket.
</p>
<h5>Private Healthcare Costs:</h5>
<p>
  Private healthcare costs in Turkey are generally lower than in many European countries and the US, but vary depending on age, health status, and the specific services needed. Private health insurance can range from €300 to €1500 per year. A standard doctor's visit might cost between 20 and 30 euros, while more intensive care can be comparable to or even exceed Western European prices in some private facilities
</p>

</div>