<div class="alert alert-success" role="alert">
  In Canada, the public healthcare system provides universal coverage for
  citizens and permanent residents, meaning essential services are free at the
  point of service.
</div>
<div class="row">
  <h4>Public Healthcare:</h4>
  <p>
    For those covered by the public system, there are typically no direct costs
    (like co-pays or deductibles) for essential medical services received at
    hospitals and doctors' offices.
  </p>
  <h4>Who Qualifies:</h4>
  <p>
    Canada's public healthcare system, funded by taxes, provides universal
    coverage for citizens and permanent residents for medically necessary
    services.
  </p>
  <h4>Non-Eligible Individuals:</h4>
  <p>
    Tourists, short-term visitors, or those not contributing to social security
    in Canada may not be covered and will need to pay for services.
  </p>
</div>
<div class="row">
  <h5>Emergency Care:</h5>
  <p>
    None residents will be billed for healthcare services at rates set by the
    province or territory.
  </p>
  <h5>Private Healthcare:</h5>
  <p>
    If not eligible for public healthcare, private insurance or direct payment
    for services is necessary.
  </p>
  <ul class="list-group">
    Cost of Services:
    <li class="list-group-item">Emergency Room: $400-1100</li>
    <li class="list-group-item">Doctor's Visit: $100-900</li>
    <li class="list-group-item">Basic X-ray: $40-250</li>
    <li class="list-group-item">Blood Test: $30-100</li>
    <li class="list-group-item">MRI (various areas): $400-2500</li>
  </ul>
  <br />
</div>
<div class="row">
  <h5>Prescriptions:</h5>
  <p>
    While prescription drugs may require a co-payment, the amount varies
    depending on income.
  </p>
  <h5>Private Healthcare Costs:</h5>
  <p>
    Private insurance costs vary, typically ranging from $300-800 per month,
    depending on age and coverage.
  </p>
</div>
