<div class="alert alert-success" role="alert">
  In Portugal, the public healthcare system (Sistema Nacional de Salud - SNS) is
  virtually free at the point of use for residents and citizens. However, if you
  are not covered by the SNS and need medical care, you will be responsible for
  the full cost of treatment. Without insurance, private healthcare can be significantly more expensive than public services, with consultations ranging from €40-100 for a general practitioner and €80-150 for specialists, according to Expatica.
</div>
<div class="row">
  <h4>Public Healthcare:</h4>
  <p>
    The SNS provides free or heavily subsidized healthcare services to all Portuguese residents and citizens.
  </p>
  <h4>Who Qualifies:</h4>
  <p>
    Purtuguese citizens, residents with social security contributions, and those
    with reciprocal agreements (like EU citizens with an EHIC card) are
    generally eligible.
  </p>
  <h4>Non-Eligible Individuals:</h4>
  <p>
    Tourists, short-term visitors, or those not contributing to social security
    in Spain may not be covered by the SNS and will need to pay for services.
  </p>
</div>
<div class="row">
  <h5>Emergency Care:</h5>
  <p>
    Emergency services are available to everyone, regardless of residency or insurance status, but costs may apply once the condition is stabilized.
  </p>
  <h5>Private Healthcare:</h5>
  <p>
    If not eligible for public healthcare, private insurance or direct payment
    for services is necessary.
  </p>
  <ul class="list-group">
    Cost of Services:
    <li class="list-group-item">Emergency Room: €150-300</li>
    <li class="list-group-item">Doctor's Visit: €60</li>
    <li class="list-group-item">Basic X-ray: €25-100</li>
    <li class="list-group-item">Blood Test: €80-200</li>
    <li class="list-group-item">MRI (various areas): €275</li>
  </ul>
  <br />
</div>
<div class="row">
  <h5>Prescriptions:</h5>
  <p>
    While prescription drugs may require a co-payment, the amount varies
    depending on income.
  </p>
  <h5>Private Healthcare Costs:</h5>
  <p>
    Private insurance costs vary, typically ranging from €50-400 per month,
    depending on age and coverage.
  </p>
  <h5>EU/EEA Citizens:</h5>
  <p>
    Those with an EHIC (European Health Insurance Card) can access necessary
    public healthcare during temporary stays, but it's not a substitute for full
    residency and insurance.
  </p>
</div>
