<div class="row">
  <br>
  <br>
  <h4>Travel Health Insurance</h4><br>
  <h5>
    If you need medical care in another country, you will likely need to pay
    out-of-pocket for any services.
  </h5>
  <br>
  <p>
    Even if a country has nationalized health care, it may not cover people who
    are not citizens. Before you go, consider your insurance options in case you
    need care while traveling. Travel health insurance is especially important
    if you have an existing health condition, are traveling for more than 6
    months, or doing adventure activities such as scuba diving or hang gliding.
  </p>
  <p>
    Check if your current health care covers emergencies that happen while
    traveling. Ask if your policy has any exclusions, such as for preexisting
    conditions or adventure activities. If your health insurance coverage is not
    adequate, consider buying a short-term supplemental policy. Look for a
    policy that will make payments to hospitals directly.
  </p>
  <p>Please see CDC recommendations on travel insurances <a href="https://wwwnc.cdc.gov/travel/page/insurance">HERE</a></p>
</div>

<div class="row">
  <div class="col col-md-6 col-sm-12">
    <h4>Cigna Global</h4>
    <h5>International health insurance that meets your every need:</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        24/7 access to multi-lingual service centers.
      </li>
      <li class="list-group-item">
        Global network of 1.5 million hospitals and healthcare professionals
      </li>
      <li class="list-group-item">
        Access to medical support in over 200 markets and territories.
      </li>
      <li class="list-group-item">
        Quote in 2 minutes, buy online in under 10 minutes.
      </li>
    </ul>
    <a
      role="button"
      href="https://www.cignaglobal.com/"
      type="button"
      class="btn btn-primary btn-sm"
      >Go</a
    >
  </div>
  <div class="col col-md-6 col-sm-12">
    <h4>United Healthcare</h4>
    <h5>
      Emergency medical insurance for travel off the beaten path — and anywhere
      else your trip may take you:
    </h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">No deductibles</li>
      <li class="list-group-item">
        Up to $1 million for medical expense limit
      </li>
      <li class="list-group-item">Medical evacuation and medical assistance</li>
      <li class="list-group-item">Option to add Extreme Sports coverage</li>
    </ul>
    <a
      role="button"
      href="https://www.uhcsafetrip.com/"
      type="button"
      class="btn btn-primary btn-sm"
      >Go</a
    >
  </div>
</div>
