<div class="card-group">
  <div class="card">
    <img
      src="https://images.unsplash.com/photo-1576091160550-2173dba999ef?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt=""
    />
    <div class="card-body">
      <h5 class="card-title">Virtual Appointments</h5>
      <p class="card-text">
        This patient-driven virtual system of healthcare will severely cut costs for the care itself, as well as cut time and costs to the providers.
      </p>
      <p class="card-text text-muted">Last updated 3 mins ago.</p>
    </div>
  </div>
  <div class="card">
    <img
      src="https://images.unsplash.com/photo-1585421514738-01798e348b17?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt=""
    />
    <div class="card-body">
      <h5 class="card-title">Cost Efficient</h5>
      <p class="card-text">
        The patient can pay the appointment cost of seeing that doctor (anywhere from 30-100 US dollars depending on the country and doctor). This uninsured cost is on par with most insurance copays and is much more affordable as it comes without high monthly premiums.
      </p>
      <p class="card-text text-muted">Last updated 3 mins ago.</p>
    </div>
  </div>
  <div class="card">
    <img
      src="https://plus.unsplash.com/premium_photo-1661767897334-bbfbdfdc4d1a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt=""
    />
    <div class="card-body">
      <h5 class="card-title">High Quality Care</h5>
      <p class="card-text">
        We will be our own medical insurance, working similar to how a single payer universal system would; <br>
        Instead of focusing on profits, we will focus on care. <br>
        We do not and will not deny any care, we simply help navigate the current laws and systems to help make sure the patient can ACCESS that care.
      </p>
      <p class="card-text text-muted">Last updated 3 mins ago.</p>
    </div>
  </div>
</div>

<div class="card-group">
  <div class="card">
    <img
      src="https://images.unsplash.com/photo-1437846972679-9e6e537be46e?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt=""
    />
    <div class="card-body">
      <h5 class="card-title">Traveling?</h5>
      <ul class="card-text">
          <li>
            Sections on obtaining/renewing passports, with links.
          </li>
          <li>looking at international medical insurances and comparing them
          </li>
          <li>cost breakdowns for insured & uninsured individuals per country
          </li>
          <li>how to obtain medications prescribed by foreign doctors in the US
          </li>
        </ul>
    </div>
    <div class="card-footer text-muted">Last Update 3 Months Ago</div>
  </div>
  <div class="card">
    <img
      src="https://plus.unsplash.com/premium_photo-1676325101744-ce4a45a331c7?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt=""
    />
    <div class="card-body">
      <h5 class="card-title">Need Prescriptions?</h5>
      <p class="card-text">
        A US based doctor will review and approve any prescriptions for the patient. Our electronic prescription system will then send it to your local pharmacy for pickup.
      </p>
    </div>
    <div class="card-footer text-muted">Last Update 2 Weeks Ago</div>
  </div>
</div>
