<div class="alert alert-success" role="alert">
  In South Korea, you can receive medical treatment without health insurance, but you'll pay more out-of-pocket than if you had coverage. While costs are generally lower than in Western countries, emergencies or serious procedures can still be expensive without insurance.
</div>
<div class="row">
<h4>Public Healthcare:</h4>
<p>
  South Korea's healthcare system is characterized by a high level of spending, both in total and per capita, with a significant portion covered by public insurance. While the system is lauded for its accessibility, it also faces challenges, including rising costs and financial sustainability, especially with an aging population.

</p>
<h4>Who Qualifies:</h4>
<p>
  While the public National Health Insurance (NHI) covers a large portion of costs, out-of-pocket (OOP) expenses remain significant, especially for uncovered services. The government plays a crucial role in funding the NHI through employee taxes, subsidies, and tobacco surcharges.
</p>
<h4>Non-Eligible Individuals:</h4>
<p>
  Tourists, short-term visitors, or those not contributing to social security
  in Korea may not be covered and will need to pay for services.
</p>
</div>
<div class="row">
<h5>Emergency Care:</h5>
<p>
  Non residents will be billed for healthcare services at rates set by the province or territory.
</p>
<h5>Private Healthcare:</h5>
<p>
  If not eligible for public healthcare, private insurance or direct payment
  for services is necessary.
</p>
<ul class="list-group">
  Cost of Services:
  <li class="list-group-item">Emergency Room: $200-500</li>
  <li class="list-group-item">Doctor's Visit: $30-60</li>
  <li class="list-group-item">Basic X-ray: $20-160</li>
  <li class="list-group-item">Blood Test: $30-70</li>
  <li class="list-group-item">MRI (various areas): $600-1200</li>
</ul>
<br />
</div>
<div class="row">
<h5>Prescriptions:</h5>
<p>
  While prescription drugs may require a co-payment, the amount varies
  depending on income.
</p>
<h5>Private Healthcare Costs:</h5>
<p>
  Private insurance costs vary, typically ranging from $300-800 per month,
  depending on age and coverage.
</p>

</div>