<div class="alert alert-success" role="alert">
    In Mexico, healthcare costs for those without insurance can vary widely, from relatively affordable basic care to potentially very expensive emergency or specialized treatments.
</div>
<div class="row">
  <h4>Public Healthcare:</h4>
  <p>
    The Instituto de Salud para el Bienestar (INSABI) provides free or low-cost healthcare to uninsured Mexican citizens and residents.
  </p>
  <h4>Who Qualifies:</h4>
  <p>
    Mexican citizens and residents citizens, residents with social security contributions, and those
    with reciprocal agreements (like EU citizens with an EHIC card) are
    generally eligible.
  </p>
  <h4>Non-Eligible Individuals:</h4>
  <p>
    Tourists, short-term visitors, or those not contributing to social security
    in Mexiso may not be covered and will need to pay for services.
  </p>
</div>
<div class="row">
  <h5>Emergency Care:</h5>
  <p>
    Emergency services are available to everyone, regardless of residency or insurance status, but costs may apply once the condition is stabilized.
  </p>
  <h5>Private Healthcare:</h5>
  <p>
    If not eligible for public healthcare, private insurance or direct payment
    for services is necessary.
  </p>
  <ul class="list-group">
    Cost of Services:
    <li class="list-group-item">Emergency Room: $50-200</li>
    <li class="list-group-item">Doctor's Visit: $12-18</li>
    <li class="list-group-item">Basic X-ray: $150-200</li>
    <li class="list-group-item">Blood Test: $15-35</li>
    <li class="list-group-item">MRI (various areas): $110-826</li>
  </ul>
  <br />
</div>
<div class="row">
  <h5>Prescriptions:</h5>
  <p>
    While prescription drugs may require a co-payment, the amount varies
    depending on income.
  </p>
  <h5>Private Healthcare Costs:</h5>
  <p>
    Private insurance costs vary, typically ranging from $1000-3000 per year,
    depending on age and coverage.
  </p>

</div>