<div class="row">
<div  class="alert alert-primary" role="alert">For more in-depth information on how to apply for a passport, please refer to the department of homeland security page <a class="alert-link" href="https://travel.state.gov/content/travel/en/passports/how-apply.html">HERE</a></div>
<div class="alert alert-success" role="alert">If you are applying or renewing with a disability please see more information <a class="alert-link" href="https://travel.state.gov/content/travel/en/passports/how-apply/disability.html">HERE</a></div></div>

<div class="row">
<h2>First Time Applicants</h2>
<p>If you have never applied for, been denied, or held a US passport, you will need to apply, either by mail or in person.</p>
<h4>Step One: Application</h4>
<p>To begin a passport application, please use the US State Department form filler, located <a href="https://pptform.state.gov/">here</a></p>
<p>Alternately, you may begin your application at your local post office, and schedule an appointment <a href="https://tools.usps.com/rcas.htm?_gl=1*1dcsn2s*_ga*NDY2MTkyMTA2LjE3NTI1MzkzMDU.*_ga_QM3XHZ2B95*czE3NTI1MzkzMDUkbzEkZzEkdDE3NTI1Mzk0MTEkajQ5JGwwJGgw">here</a></p>

<h4>Step Two: Documents</h4>
<p>To apply for a new passport you will need the following documents:</p>
  <ul class="list-group">
    <li class="list-group-item"><a href="https://pptform.state.gov/?Submit2=Complete+Online+%26+Print">Application For A U.S. Passport (DS-11) </a></li>
    <li class="list-group-item"><a href="https://travel.state.gov/content/travel/en/passports/how-apply/photos.html">Passport Photos</a></li>
    <li class="list-group-item"><a href="https://travel.state.gov/content/travel/en/passports/how-apply/citizenship-evidence.html">Citizenship Evidence</a></li>
    <li class="list-group-item"><a href="https://travel.state.gov/content/travel/en/passports/how-apply/identification.html">Photo Identification</a></li>
  </ul>

  <h4>Step Three: Appointment</h4>
  <p>Schedule an appointment <a href="https://tools.usps.com/rcas.htm?_gl=1*1dcsn2s*_ga*NDY2MTkyMTA2LjE3NTI1MzkzMDU.*_ga_QM3XHZ2B95*czE3NTI1MzkzMDUkbzEkZzEkdDE3NTI1Mzk0MTEkajQ5JGwwJGgw">here</a></p>

</div>
